fieldset{
  background-color: rgb(188, 201, 198);
  border: none;
  border-radius: 2px;
  margin:auto;
  text-align:center;
  width:50%;

}
label{
  cursor: pointer;
  display: inline-block;
  padding: 3px 6px;
  text-align: left;
  width: 25%;
  vertical-align:top;
  font-weight: bold;
  color: #1d062c;
  font-family: "Trebuchet MS", Arial, Verdana;
 
}

label:after { content: "" }



input[type=text] {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", Arial, Verdana;
}

select
{
    width:  50%;
    height: 42px;
    
}
body{
  background-color:rgb(203, 218, 212);
  
}
#submitBtn{
  display:block;
  background: #6b756b;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Trebuchet MS", Arial, Verdana;
}
.container {
  width:100%;
  border-radius: 5px;
  background-color:rgb(203, 218, 212);
  padding: 20px;
  
}
input[type=submit]{
height:40px;
padding: 10 px 0;
margin: 1 px;
border: 1 px solid transparent;
background: rgb(135, 48, 69);
color: white;
border-radius: 5px;
width: 15%;
cursor: pointer;
transition: all 1s;
justify-self: center;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
font-family: "Trebuchet MS", Arial, Verdana;
}